

<!-- Container for products -->
<div class="py-4 pl-0 pr-0 md:pl-4 grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% if (locals.products != null) { %>
        <% products.forEach(product => { %>
            <%- include('productCard', {product}) %>
        <% }); %>
    <% } %>
</div>